{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center align-items-center" style="min-height: 55.6vh;">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Вход для родителей</h2>
                    
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        Неверный логин или пароль
                    </div>
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">Логин</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">
                                Войти
                            </button>
                        </div>
                    </form>
                    
                    <div class="mt-3 text-center">
                        <a href="{% url 'parent_register' %}">Ещё нет аккаунта? Зарегистрируйтесь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}